  <div class="content-header">
    <h1>
      Welcome to the In-House demo web application
      <small>Nice to see you again, <%= current_user.username%></small>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> Home</li>
    </ol>
  </div>

  <!-- Main content -->
  <div class="content body">
  </div>
