/*

LIb/GEMS

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// @import "ionicons";
@import "adminlte/adminlte.css";
@import "adminlte/skins/_all-skins.css";
@import "adminlte/plugins/iCheck/flat/blue.css";


/*

PROJECT SPECIFIC

 */
@import "chatrooms";
@import "messages";
@import "users";

/*

FLASH MESSAGES

 */

// .alert-notice, .alert-success{
//   margin: 25px auto;
//   @extend .alert;
//   @extend .alert-success;
// }

// .alert-error, .alert-alert{
//   margin: 25px auto;
//   @extend .alert;
//   @extend .alert-danger;
// }

// .alert-warning{
//   margin: 25px auto;
//   @extend .alert;
//   @extend .alert-warning;
// }



.main-header > .navbar > .sidebar-toggle{
  &:hover, &:focus, &:active, &:visited{
    text-decoration: none !important;
  }
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}